Project/STTSoft/STTSoft/Service References/STTSoftService/AdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AccountList">
        <s:complexType />
      </s:element>
      <s:element name="AccountListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountListResult" type="tns:ArrayOfAccountDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAccountDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AccountDTO" nillable="true" type="tns:AccountDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AccountDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccRole" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AccLevel" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AccMail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccPass" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsOrder" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="AccName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AccountInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accRole" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="accLevel" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="accMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AccountInsertResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountEdit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accRole" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="accLevel" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="accMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accPhone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountEditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AccountEditResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AccountDeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProductList">
        <s:complexType />
      </s:element>
      <s:element name="ProductListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductListResult" type="tns:ArrayOfProductDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProductDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductDTO" nillable="true" type="tns:ProductDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProDetail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProImage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProPrice" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProductInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="proName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="proDetail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="proImage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="proPrice" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="catId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProductInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProductInsertResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProductEdit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="proId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="proName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="proDetail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="proImage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="proPrice" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProductEditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProductEditResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProductDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="proId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProductDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProductDeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CatalogList">
        <s:complexType />
      </s:element>
      <s:element name="CatalogListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CatalogListResult" type="tns:ArrayOfCategoryDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCategoryDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CategoryDTO" nillable="true" type="tns:CategoryDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CategoryDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CatId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CatName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CatalogInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="catName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CatalogInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CatalogInsertResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CatalogEdit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="catId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="catName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CatalogEditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CatalogEditResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CatalogDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="catId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CatalogDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CatalogDeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BankList">
        <s:complexType />
      </s:element>
      <s:element name="BankListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BankListResult" type="tns:ArrayOfBankDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBankDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BankDTO" nillable="true" type="tns:BankDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BankDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BanMoney" nillable="true" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="BankEdit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="banMoney" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BankEditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BankEditResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BankDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BankDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BankDeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderListResult" type="tns:ArrayOfOrderDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrderDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderDTO" nillable="true" type="tns:OrderDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AccName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="OrdId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrdQuantity" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OrdSaler" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProImage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProPrice" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="OrderEdit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ordId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ordQuantity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderEditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrderEditResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ordId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrderDeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderDaiLyList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderDaiLyListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderDaiLyListResult" type="tns:ArrayOfOrderDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CommentDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="comId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CommentDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CommentDeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AccountListSoapIn">
    <wsdl:part name="parameters" element="tns:AccountList" />
  </wsdl:message>
  <wsdl:message name="AccountListSoapOut">
    <wsdl:part name="parameters" element="tns:AccountListResponse" />
  </wsdl:message>
  <wsdl:message name="AccountInsertSoapIn">
    <wsdl:part name="parameters" element="tns:AccountInsert" />
  </wsdl:message>
  <wsdl:message name="AccountInsertSoapOut">
    <wsdl:part name="parameters" element="tns:AccountInsertResponse" />
  </wsdl:message>
  <wsdl:message name="AccountEditSoapIn">
    <wsdl:part name="parameters" element="tns:AccountEdit" />
  </wsdl:message>
  <wsdl:message name="AccountEditSoapOut">
    <wsdl:part name="parameters" element="tns:AccountEditResponse" />
  </wsdl:message>
  <wsdl:message name="AccountDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:AccountDelete" />
  </wsdl:message>
  <wsdl:message name="AccountDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:AccountDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ProductListSoapIn">
    <wsdl:part name="parameters" element="tns:ProductList" />
  </wsdl:message>
  <wsdl:message name="ProductListSoapOut">
    <wsdl:part name="parameters" element="tns:ProductListResponse" />
  </wsdl:message>
  <wsdl:message name="ProductInsertSoapIn">
    <wsdl:part name="parameters" element="tns:ProductInsert" />
  </wsdl:message>
  <wsdl:message name="ProductInsertSoapOut">
    <wsdl:part name="parameters" element="tns:ProductInsertResponse" />
  </wsdl:message>
  <wsdl:message name="ProductEditSoapIn">
    <wsdl:part name="parameters" element="tns:ProductEdit" />
  </wsdl:message>
  <wsdl:message name="ProductEditSoapOut">
    <wsdl:part name="parameters" element="tns:ProductEditResponse" />
  </wsdl:message>
  <wsdl:message name="ProductDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:ProductDelete" />
  </wsdl:message>
  <wsdl:message name="ProductDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:ProductDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="CatalogListSoapIn">
    <wsdl:part name="parameters" element="tns:CatalogList" />
  </wsdl:message>
  <wsdl:message name="CatalogListSoapOut">
    <wsdl:part name="parameters" element="tns:CatalogListResponse" />
  </wsdl:message>
  <wsdl:message name="CatalogInsertSoapIn">
    <wsdl:part name="parameters" element="tns:CatalogInsert" />
  </wsdl:message>
  <wsdl:message name="CatalogInsertSoapOut">
    <wsdl:part name="parameters" element="tns:CatalogInsertResponse" />
  </wsdl:message>
  <wsdl:message name="CatalogEditSoapIn">
    <wsdl:part name="parameters" element="tns:CatalogEdit" />
  </wsdl:message>
  <wsdl:message name="CatalogEditSoapOut">
    <wsdl:part name="parameters" element="tns:CatalogEditResponse" />
  </wsdl:message>
  <wsdl:message name="CatalogDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:CatalogDelete" />
  </wsdl:message>
  <wsdl:message name="CatalogDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:CatalogDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="BankListSoapIn">
    <wsdl:part name="parameters" element="tns:BankList" />
  </wsdl:message>
  <wsdl:message name="BankListSoapOut">
    <wsdl:part name="parameters" element="tns:BankListResponse" />
  </wsdl:message>
  <wsdl:message name="BankEditSoapIn">
    <wsdl:part name="parameters" element="tns:BankEdit" />
  </wsdl:message>
  <wsdl:message name="BankEditSoapOut">
    <wsdl:part name="parameters" element="tns:BankEditResponse" />
  </wsdl:message>
  <wsdl:message name="BankDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:BankDelete" />
  </wsdl:message>
  <wsdl:message name="BankDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:BankDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="OrderListSoapIn">
    <wsdl:part name="parameters" element="tns:OrderList" />
  </wsdl:message>
  <wsdl:message name="OrderListSoapOut">
    <wsdl:part name="parameters" element="tns:OrderListResponse" />
  </wsdl:message>
  <wsdl:message name="OrderEditSoapIn">
    <wsdl:part name="parameters" element="tns:OrderEdit" />
  </wsdl:message>
  <wsdl:message name="OrderEditSoapOut">
    <wsdl:part name="parameters" element="tns:OrderEditResponse" />
  </wsdl:message>
  <wsdl:message name="OrderDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:OrderDelete" />
  </wsdl:message>
  <wsdl:message name="OrderDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:OrderDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="OrderDaiLyListSoapIn">
    <wsdl:part name="parameters" element="tns:OrderDaiLyList" />
  </wsdl:message>
  <wsdl:message name="OrderDaiLyListSoapOut">
    <wsdl:part name="parameters" element="tns:OrderDaiLyListResponse" />
  </wsdl:message>
  <wsdl:message name="CommentDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:CommentDelete" />
  </wsdl:message>
  <wsdl:message name="CommentDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:CommentDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminServiceSoap">
    <wsdl:operation name="AccountList">
      <wsdl:input message="tns:AccountListSoapIn" />
      <wsdl:output message="tns:AccountListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AccountInsert">
      <wsdl:input message="tns:AccountInsertSoapIn" />
      <wsdl:output message="tns:AccountInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AccountEdit">
      <wsdl:input message="tns:AccountEditSoapIn" />
      <wsdl:output message="tns:AccountEditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AccountDelete">
      <wsdl:input message="tns:AccountDeleteSoapIn" />
      <wsdl:output message="tns:AccountDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProductList">
      <wsdl:input message="tns:ProductListSoapIn" />
      <wsdl:output message="tns:ProductListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProductInsert">
      <wsdl:input message="tns:ProductInsertSoapIn" />
      <wsdl:output message="tns:ProductInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProductEdit">
      <wsdl:input message="tns:ProductEditSoapIn" />
      <wsdl:output message="tns:ProductEditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProductDelete">
      <wsdl:input message="tns:ProductDeleteSoapIn" />
      <wsdl:output message="tns:ProductDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CatalogList">
      <wsdl:input message="tns:CatalogListSoapIn" />
      <wsdl:output message="tns:CatalogListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CatalogInsert">
      <wsdl:input message="tns:CatalogInsertSoapIn" />
      <wsdl:output message="tns:CatalogInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CatalogEdit">
      <wsdl:input message="tns:CatalogEditSoapIn" />
      <wsdl:output message="tns:CatalogEditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CatalogDelete">
      <wsdl:input message="tns:CatalogDeleteSoapIn" />
      <wsdl:output message="tns:CatalogDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BankList">
      <wsdl:input message="tns:BankListSoapIn" />
      <wsdl:output message="tns:BankListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BankEdit">
      <wsdl:input message="tns:BankEditSoapIn" />
      <wsdl:output message="tns:BankEditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BankDelete">
      <wsdl:input message="tns:BankDeleteSoapIn" />
      <wsdl:output message="tns:BankDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OrderList">
      <wsdl:input message="tns:OrderListSoapIn" />
      <wsdl:output message="tns:OrderListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OrderEdit">
      <wsdl:input message="tns:OrderEditSoapIn" />
      <wsdl:output message="tns:OrderEditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OrderDelete">
      <wsdl:input message="tns:OrderDeleteSoapIn" />
      <wsdl:output message="tns:OrderDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OrderDaiLyList">
      <wsdl:input message="tns:OrderDaiLyListSoapIn" />
      <wsdl:output message="tns:OrderDaiLyListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CommentDelete">
      <wsdl:input message="tns:CommentDeleteSoapIn" />
      <wsdl:output message="tns:CommentDeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminServiceSoap" type="tns:AdminServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccountList">
      <soap:operation soapAction="http://tempuri.org/AccountList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountInsert">
      <soap:operation soapAction="http://tempuri.org/AccountInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountEdit">
      <soap:operation soapAction="http://tempuri.org/AccountEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountDelete">
      <soap:operation soapAction="http://tempuri.org/AccountDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductList">
      <soap:operation soapAction="http://tempuri.org/ProductList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductInsert">
      <soap:operation soapAction="http://tempuri.org/ProductInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductEdit">
      <soap:operation soapAction="http://tempuri.org/ProductEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductDelete">
      <soap:operation soapAction="http://tempuri.org/ProductDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CatalogList">
      <soap:operation soapAction="http://tempuri.org/CatalogList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CatalogInsert">
      <soap:operation soapAction="http://tempuri.org/CatalogInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CatalogEdit">
      <soap:operation soapAction="http://tempuri.org/CatalogEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CatalogDelete">
      <soap:operation soapAction="http://tempuri.org/CatalogDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BankList">
      <soap:operation soapAction="http://tempuri.org/BankList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BankEdit">
      <soap:operation soapAction="http://tempuri.org/BankEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BankDelete">
      <soap:operation soapAction="http://tempuri.org/BankDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderList">
      <soap:operation soapAction="http://tempuri.org/OrderList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderEdit">
      <soap:operation soapAction="http://tempuri.org/OrderEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderDelete">
      <soap:operation soapAction="http://tempuri.org/OrderDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderDaiLyList">
      <soap:operation soapAction="http://tempuri.org/OrderDaiLyList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommentDelete">
      <soap:operation soapAction="http://tempuri.org/CommentDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminServiceSoap12" type="tns:AdminServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccountList">
      <soap12:operation soapAction="http://tempuri.org/AccountList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountInsert">
      <soap12:operation soapAction="http://tempuri.org/AccountInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountEdit">
      <soap12:operation soapAction="http://tempuri.org/AccountEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountDelete">
      <soap12:operation soapAction="http://tempuri.org/AccountDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductList">
      <soap12:operation soapAction="http://tempuri.org/ProductList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductInsert">
      <soap12:operation soapAction="http://tempuri.org/ProductInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductEdit">
      <soap12:operation soapAction="http://tempuri.org/ProductEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductDelete">
      <soap12:operation soapAction="http://tempuri.org/ProductDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CatalogList">
      <soap12:operation soapAction="http://tempuri.org/CatalogList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CatalogInsert">
      <soap12:operation soapAction="http://tempuri.org/CatalogInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CatalogEdit">
      <soap12:operation soapAction="http://tempuri.org/CatalogEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CatalogDelete">
      <soap12:operation soapAction="http://tempuri.org/CatalogDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BankList">
      <soap12:operation soapAction="http://tempuri.org/BankList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BankEdit">
      <soap12:operation soapAction="http://tempuri.org/BankEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BankDelete">
      <soap12:operation soapAction="http://tempuri.org/BankDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderList">
      <soap12:operation soapAction="http://tempuri.org/OrderList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderEdit">
      <soap12:operation soapAction="http://tempuri.org/OrderEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderDelete">
      <soap12:operation soapAction="http://tempuri.org/OrderDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderDaiLyList">
      <soap12:operation soapAction="http://tempuri.org/OrderDaiLyList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommentDelete">
      <soap12:operation soapAction="http://tempuri.org/CommentDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="AdminServiceSoap" binding="tns:AdminServiceSoap">
      <soap:address location="http://localhost:22640/AdminService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminServiceSoap12" binding="tns:AdminServiceSoap12">
      <soap12:address location="http://localhost:22640/AdminService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>