Project/STTSoft/STTSoft/Service References/STTSoftService/AdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListUser">
        <s:complexType />
      </s:element>
      <s:element name="ListUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListUserResult" type="tns:ArrayOfAccount" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAccount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Account">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccRole" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AccLevel" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AccMail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccPass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bank" type="tns:Bank" />
          <s:element minOccurs="0" maxOccurs="1" name="Orders" type="tns:ArrayOfOrder" />
          <s:element minOccurs="0" maxOccurs="1" name="Discount" type="tns:Discount" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Bank">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BanMoney" nillable="true" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Account" type="tns:Account" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Order">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AccName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrTotal" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OrDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderDetails" type="tns:ArrayOfOrderDetail" />
          <s:element minOccurs="0" maxOccurs="1" name="Account" type="tns:Account" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderDetail" nillable="true" type="tns:OrderDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderDetail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrdId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrdQuantity" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Order" type="tns:Order" />
          <s:element minOccurs="0" maxOccurs="1" name="Product" type="tns:Product" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Product">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProDetail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProImage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CatId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProPrice" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="tns:ArrayOfComment" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderDetails" type="tns:ArrayOfOrderDetail" />
          <s:element minOccurs="0" maxOccurs="1" name="Category" type="tns:Category" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfComment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="tns:Comment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Comment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ComId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ComContent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Product" type="tns:Product" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Category">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CatId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CatName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Products" type="tns:ArrayOfProduct" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProduct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Discount">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AccLevel" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DisPercent" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Accounts" type="tns:ArrayOfAccount" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListUserSoapIn">
    <wsdl:part name="parameters" element="tns:ListUser" />
  </wsdl:message>
  <wsdl:message name="ListUserSoapOut">
    <wsdl:part name="parameters" element="tns:ListUserResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminServiceSoap">
    <wsdl:operation name="ListUser">
      <wsdl:input message="tns:ListUserSoapIn" />
      <wsdl:output message="tns:ListUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminServiceSoap" type="tns:AdminServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListUser">
      <soap:operation soapAction="http://tempuri.org/ListUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminServiceSoap12" type="tns:AdminServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListUser">
      <soap12:operation soapAction="http://tempuri.org/ListUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="AdminServiceSoap" binding="tns:AdminServiceSoap">
      <soap:address location="http://localhost:22640/AdminService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminServiceSoap12" binding="tns:AdminServiceSoap12">
      <soap12:address location="http://localhost:22640/AdminService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>