trunk/Project/STTSoft/STTSoft/Service References/STTSoftService/AdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AccountList">
        <s:complexType />
      </s:element>
      <s:element name="AccountListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountListResult" type="tns:ArrayOfAccountDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAccountDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AccountDTO" nillable="true" type="tns:AccountDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AccountDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccRole" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AccLevel" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AccMail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccPass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AccountInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accRole" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="accLevel" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="accMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AccountInsertResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountEdit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accRole" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="accLevel" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="accMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accPhone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountEditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AccountEditResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AccountDeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AccountListSoapIn">
    <wsdl:part name="parameters" element="tns:AccountList" />
  </wsdl:message>
  <wsdl:message name="AccountListSoapOut">
    <wsdl:part name="parameters" element="tns:AccountListResponse" />
  </wsdl:message>
  <wsdl:message name="AccountInsertSoapIn">
    <wsdl:part name="parameters" element="tns:AccountInsert" />
  </wsdl:message>
  <wsdl:message name="AccountInsertSoapOut">
    <wsdl:part name="parameters" element="tns:AccountInsertResponse" />
  </wsdl:message>
  <wsdl:message name="AccountEditSoapIn">
    <wsdl:part name="parameters" element="tns:AccountEdit" />
  </wsdl:message>
  <wsdl:message name="AccountEditSoapOut">
    <wsdl:part name="parameters" element="tns:AccountEditResponse" />
  </wsdl:message>
  <wsdl:message name="AccountDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:AccountDelete" />
  </wsdl:message>
  <wsdl:message name="AccountDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:AccountDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminServiceSoap">
    <wsdl:operation name="AccountList">
      <wsdl:input message="tns:AccountListSoapIn" />
      <wsdl:output message="tns:AccountListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AccountInsert">
      <wsdl:input message="tns:AccountInsertSoapIn" />
      <wsdl:output message="tns:AccountInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AccountEdit">
      <wsdl:input message="tns:AccountEditSoapIn" />
      <wsdl:output message="tns:AccountEditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AccountDelete">
      <wsdl:input message="tns:AccountDeleteSoapIn" />
      <wsdl:output message="tns:AccountDeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminServiceSoap" type="tns:AdminServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccountList">
      <soap:operation soapAction="http://tempuri.org/AccountList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountInsert">
      <soap:operation soapAction="http://tempuri.org/AccountInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountEdit">
      <soap:operation soapAction="http://tempuri.org/AccountEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountDelete">
      <soap:operation soapAction="http://tempuri.org/AccountDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminServiceSoap12" type="tns:AdminServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccountList">
      <soap12:operation soapAction="http://tempuri.org/AccountList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountInsert">
      <soap12:operation soapAction="http://tempuri.org/AccountInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountEdit">
      <soap12:operation soapAction="http://tempuri.org/AccountEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountDelete">
      <soap12:operation soapAction="http://tempuri.org/AccountDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="AdminServiceSoap" binding="tns:AdminServiceSoap">
      <soap:address location="http://localhost:22640/AdminService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminServiceSoap12" binding="tns:AdminServiceSoap12">
      <soap12:address location="http://localhost:22640/AdminService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>